<a href="https://colab.research.google.com/github/sdw1621/tensorflow/blob/main/0_gdrive%EC%97%B0%EA%B2%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 구글 드라이브 연동

from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!ls

gdrive	sample_data

In [ ]:
import pandas as pd
df = pd.read_csv('/content/gdrive/MyDrive/jena_climate_2009_2016.csv')
df.head()

             Date Time  p (mbar)  T (degC)  ...  wv (m/s)  max. wv (m/s)  wd (deg)
0  01.01.2009 00:10:00    996.52     -8.02  ...      1.03           1.75     152.3
1  01.01.2009 00:20:00    996.57     -8.41  ...      0.72           1.50     136.1
2  01.01.2009 00:30:00    996.53     -8.51  ...      0.19           0.63     171.6
3  01.01.2009 00:40:00    996.51     -8.31  ...      0.34           0.50     198.0
4  01.01.2009 00:50:00    996.51     -8.27  ...      0.32           0.63     214.3

[5 rows x 15 columns]